@font-face {
    font-family: 'OpenSansBold';
    src: url('/Open_Sans/static/OpenSans-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

.homeContainer {
    display: flex;
    flex-direction: row;
    margin-top: 6.5rem;
    width: 100vw;
    justify-content: center;
}

.postFatherContainer {
    display: flex;
    flex-direction: column;
}

.postsContainer {
    width: 35vw;
}

.userListContainer {
    margin-left: 1rem;
}

.userListContainer h2 {
    font-family: 'OpenSansBold';
    margin-top: -0.5rem;
}

.userPicAndName {
    display: flex;
    flex-direction: row;
}

.userPicAndName img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.userPicAndName p {
    margin-right: 2rem;
    margin-top: 0.8rem;
    margin-left: 0.3rem;
}

.otherUsersButtonContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#addFriendButton {
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 30%;
    margin-top: .8rem;
}

#otherUsersButton {
    display: none;
}

/* Tablet styles (e.g., iPad landscape) */
@media (min-width: 1080px) and (max-width: 1200px) and (min-height: 810px) and (max-height: 900px) {
    .postsContainer {
        width: 45vw;
    }
}

/* Smartphone styles (e.g., iPhone portrait) */
@media (max-width: 768px) {
    #otherUsersButton {
        display: block;
        margin-top: 1rem;
        background-color: #fffc00;
        border-radius: 2rem;
        font-size: 0.65rem;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
        font-family: 'OpenSansBold';
    }

    .homeContainer {
        flex-direction: column;
    }
    .postFatherContainer {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .postsContainer {
        width: 90%;
    }

    .userPicAndName {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-left: -2rem;
    }

    .userPicAndName p {
        font-size: 0.9rem;
    }

    .userPicAndName img {
        width: 2.3rem;
        height: 2.3rem;
    }

    #addFriendButton {
        width: 1.3rem;
        height: 1.3rem;
        border-radius: 30%;
        margin-top: .25rem;
    }
}

