.homeContainer {
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
}

.postFatherContainer {
    display: flex;
    flex-direction: column;
}

.postsContainer {
    background-color: orange;
    width: 35vw;
}