.fatherContainer {
    width: 75vw;
    min-height: 100vh;
    background-color: purple;
    margin-top: 2.85rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profileHeader {
    width: 100%;
    background-color: pink;
    margin-top: 3rem;
    height: 8rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.profileHeader img {
    width: 8rem;
}

.profilePicAndName {
    background-color: papayawhip;
    min-width: 20rem;
    display: flex;
    flex-direction: row;
}

.friendsOrNotBox {
    background-color: aquamarine;
    min-width: 10rem;
    display: flex;
    flex-direction: row;
}

.friendsOrNotBox img {
    width: 3rem;
}

.profileBodyContainer {
    width: 100%;
    background-color: aquamarine;
    height: 40rem;
    display: flex;
    flex-direction: row;
}

.aboutMeAndFriendsContainer {
    width: 25%;
    height: 100%;
    background-color: brown;
    display: flex;
    flex-direction: column;
}

.aboutMeContainer {
    width: 100%;
    min-height: 20%;
    background-color: blueviolet;
}

.headingAndEditing {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}

.headingAndEditing img {
    width: 2rem;
    height: 2rem;
}

.friendsContainer {
    width: 100%;
    height: 100%;
    background-color: beige;
}

.friendCard {
    background-color: aquamarine;
    width: 100%;
}

.profilePostsContainer {
    width: 70%;
    height: 100%;
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
}

.postBox {
    width: 100%;
    min-height: 15rem;
    background-color: orangered;
}

.myPostsContainer {
    width: 100%;
    min-height: 25rem;
    background-color: aliceblue;
}

.postCard {
    width: 100%;
    min-height: 3rem;
    background-color: bisque;
}

.postCard p {
    color: black;
}

