.navbar {
    background-color: #F2E34C;
    color: black;
    padding: 20px 20px; /* Increase padding to make navbar thicker */
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar-brand {
    text-decoration: none;
    font-size: 24px;
    color: #fff;
}

.navbarLink {
    color: black;
    margin-left: 1.5rem;
    font-family: 'OpenSansBold';
}

.navbarLinks {
    justify-content: space-around;
}

.navbarLinks button {
    font-family: 'OpenSansBold';
    background-color: transparent;
    color: black;
    border: none;
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.navbarContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.friendRequestsDropdown {
    position: absolute;
    background-color: grey;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 75px;
    left: 1165px;
}

.friendRequestInfo {
    display: flex;
    flex-direction: row;
}

.friendRequestInfo img {
    width: 3rem;
}