.navbar {
    background-color: #F2E34C;
    color: black;
    padding: 7px 7px; 
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar-brand {
    text-decoration: none;
    font-size: 24px;
    color: #fff;
}

.navbarLink {
    color: black;
    margin-left: 1.5rem;
    font-family: 'OpenSansBold';
}

.navbarLinks img {
    width: 1.5rem;
}

.navbarLinks {
    justify-content: space-around;
    display: flex;
    flex-direction: row;
}

.navbarLinks button {
    font-family: 'OpenSansBold';
    background-color: transparent;
    color: black;
    border: none;
    cursor: pointer;
}

#homeButtonStyling {
    font-family: 'OpenSansBold';
    background-color: transparent;
    color: black;
    border: none;
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.navbarContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.friendRequestNav {
    margin-bottom: 1rem;
    width: auto;
}

.friendRequestNav p {
    margin-top: 0px;
    margin-bottom: -0.5rem;
    margin-left: 3rem;
}

.friendRequestNav img {
    margin-top: 0px;
    width: 1.75rem;
}

.navbarLinks img:hover {
    cursor: pointer;
}

.friendRequestsDropdown {
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
    z-index: 1;
    top: 80%;
    position: absolute;
    left: 72%;
    transform: translateX(-50%);
    border-radius: 10px;
}

.friendRequestsDropdown h3 {
    margin: 1rem;
}

.friendRequestInfo {
    display: flex;
    flex-direction: row;
}

.friendRequestInfo img {
    width: 3rem;
}

#addFriendButton {
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 30%;
    margin-top: .8rem;
    margin-left: 0.5rem;
    margin-right: 0.3rem;
}

#homeButton {
    width: 4rem;
    height: 4rem;
    border-radius: 30%;
}

#homeButton:hover {
    cursor: pointer;
}

#myProfilePic {
    width: 3rem;
    height: 3rem;
    margin-top: 0.3rem;
    border-radius: 50%;
    margin-right: 0.3rem;
}

#myProfileUsername {
    margin-left: 0rem;
}


#friendRequestCount {
    position: absolute;
    top: 4px; 
    left: 1283px;
    color: #000; 
    border-radius: 50%; 
    padding: 5px; 
    font-size: 15px; 
}


.pfpAndName {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.pfpAndName img:hover {
    cursor: pointer;
}

.pfpAndName p:hover{
    cursor: pointer;
}

/* Tablet styles (e.g., iPad landscape) */
@media (max-width: 1024px) {

}

/* Smartphone styles (e.g., iPhone portrait) */
@media (max-width: 768px) {
    .navbarLink {
        color: black;
        margin-left: .75rem;
        font-family: 'OpenSansBold';
    }
    .container {
        justify-content: left;
    }
}