@font-face {
    font-family: 'OpenSans';
    src: url('/Open_Sans/static/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

.postBoxForm {
    display: flex;
    flex-direction: column;
    position: relative;
}

.postBoxForm textarea {
    width: 90%;
    height: 6rem;
    border: 0px;
    border-radius: 1rem;
    padding: 1rem 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    resize: none;
    font-family: 'OpenSans';
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

#postBoxPostButton {
    background-color: #F2E34C;
    border-radius: 1rem;
    padding: auto;
    position: absolute;
    right: 0rem;
    top: 5rem;
    border: 0px;
    outline: 0px;
    font-family: 'OpenSansBold';
}

#postBoxPostButton:hover {
    background-color: #d7c23c;
}

#attachImageButton {
    background-color: #F2E34C;
    border-radius: 1rem;
    padding: auto;
    position: absolute;
    right: 5rem;
    top: 5rem;
    border: 0px;
    outline: 0px;
    font-family: 'OpenSansBold';
}

#attachImageButton:hover {
    background-color: #d7c23c;
}

.imageInputContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 0.5rem;
    border-radius: 0.5rem;
}

.imageInputContainer p {
    margin-left: 0.5rem;
}

.imageInputContainer input {
    color: #F2E34C;
}

.fileInput {
    display: none;
}

.customButton {
    padding: 5px 10px;
    background-color: #F2E34C;
    color: black;
    border-radius: 0.5rem;
    cursor: pointer;
}

.customButton:hover {
    background-color: #d7c23c;
}

/* Tablet styles (e.g., iPad landscape) */
@media (max-width: 1024px) {

}

/* Smartphone styles (e.g., iPhone portrait) */
@media (max-width: 768px) {

}