.postContainer {
    width: 100%;
    margin-top: 1.5rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    background-color: #f7f7f7;
}

.postHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    background-color: #f7f7f7;
}

.nameAndDateContainer {
    display: flex;
    flex-direction: row;
}

.nameAndDateContainer img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}

.postHeader p {
    margin-right: 1rem;
}

.postBody {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 95%;
    border-bottom: 0.5px solid black;
}

.postBody img {
    max-width: 30%;
    height: auto;
}

.postBody p {
    text-align: left; 
}

.postInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
}

.postFooter {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.likeButtonContainer {
    width: 100%;
}

.commentButtonContainer{
    width: 100%;
}

#buttonStyling {
    width: 100%;
}

.deleteContainer img {
    width: 1.3rem;
}

.commentSection {
    background-color: blanchedalmond;
    width: 95%;
}

.commentContainer {
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    margin-top: 0.5rem;
    width: 100%;
}

.commentInfo {
    display: flex;
    flex-direction: row;
}

.commentBody {
    display: flex;
    justify-content: flex-start;
}

.commentInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.userPicAndName {
    display: flex;
    flex-direction: row;
}

.userPicAndName img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}