.postContainer {
    width: 100%;
    margin-top: 1.5rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    background-color: #f7f7f7;
}

.postHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    background-color: #f7f7f7;
}

.headerContainer {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    justify-content: space-between;
}

.headerContainer img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}

.nameAndDateContainer {
    /* background-color: purple; */
    display: flex;
    flex-direction: row;
    margin-top: -0.5rem;
    margin-left: 0.5rem;
}

#commentDateSentStyling {
    margin-left: 0.75rem;
}

#commenterPfp {
    margin-top: 0.5rem;
}

#commenterUsernameStyling {
    margin-left: 0.25rem;
}

.pfpContainer {
    /* background-color: red; */
}

.postHeader p {
    margin-right: 1rem;
}

.postBody {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 95%;
    border-bottom: 0.5px solid black;
}

.postBody img {
    max-width: 30%;
    height: auto;
}

.postBody p {
    text-align: left; 
}

.postInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
}

.postFooter {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.likeButtonContainer {
    width: 100%;
}

.commentButtonContainer{
    width: 100%;
}

#buttonStyling {
    width: 100%;
}

.deleteContainer img {
    width: 1.3rem;
}

.commentSection {
    width: 95%;
}

.commentContainer {
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
    width: 100%;
}

.commentInfo {
    display: flex;
    flex-direction: row;
}

.commentBody {
    display: flex;
    justify-content: flex-start;
    margin-top: -1rem;
    margin-left: 0.8rem;
    border-bottom: 0.5px solid black;
}

.commentBody p {
    text-align: left;
}

.commentInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.userPicAndName {
    display: flex;
    flex-direction: row;
}

.userPicAndName img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}

.commentBox {
    width: 80%;
    margin-top: 0.5rem;
}

.commentBox textarea {
    width: 100%;
    font-size: 0.8rem;
    height: 3rem;
    border: 0px;
    border-radius: 1rem;
    padding: 1rem 1rem;
    display: flex;
    resize: none;
    font-family: 'OpenSans';
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}