.fatherContainer {
    width: 100vw;
    min-height: 100vh;
    margin-top: 2.85rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sonContainer {
    width: 70%;
}

.profileHeader {
    width: 100%;
    margin-top: 3rem;
    height: 8rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    align-items: center;
}

.profileHeader img {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
}

.profilePicAndName {
    min-width: 20rem;
    margin-left: 7.25rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profilePicAndName h2 {
    margin-left: .75rem;
}

.friendsOrNotBox {
    min-width: 10rem;
    display: flex;
    flex-direction: row;
    margin-right: 7.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.friendsBox {
    display: flex;
    flex-direction: row;
    margin-bottom: -20px;
}

.requestSentBox p {
    margin-top: 0px;
}

.friendsOrNotBox h2 {
    margin-right: .75rem;
}

.friendsOrNotBox img {
    width: 2.5rem;
}

.profileBodyContainer {
    width: 100%;
    height: 40rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.aboutMeAndFriendsContainer {
    width: 20rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-right: 1.5rem;
}

.aboutMeContainer {
    width: 100%;
    height: auto;
    border-radius: 1.5rem;
    background-color: #DBE8D8;
    background-image: linear-gradient(to right, #ABEA7C, #F2E34C);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headingAndEditing {
    background-image: linear-gradient(to right, #a0dc73, #e9db47);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    width: 100%;
}

.headingAndEditing img {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
}

.headingAndEditing img:hover {
    cursor: pointer;
}

.headingAndEditing h3 {
    margin-left: 1rem;
    font-family: 'OpenSansBold';
}

.profileBioContainer {
    width: 85%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profileBioContainer {
    margin-top: -0.5rem;
}

.friendsContainer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-image: linear-gradient(to right, #ABEA7C, #F2E34C);
    border-radius: 1rem;
    margin-top: 1rem;
}

.friendsContainerHeader {
    width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    display: flex;
    align-items: flex-start;
    background-image: linear-gradient(to right, #a0dc73, #e9db47);
}

.friendsContainer img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%; 
    margin-left: 0.5rem;
}

.friendsContainer p {
    margin-top: 0.45rem;
    margin-left: 0.5rem;
}

.friendsContainer p:hover {
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
    cursor: pointer;
}

.friendsContainer h3 {
    margin-left: 1rem;
    font-family: 'OpenSansBold';
}

.friendCard {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 0.5rem;
}

.profilePostsContainer {
    width: 35vw;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.postBox {
    width: 100%;
    height: auto;
}

.myPostsContainer {
    width: 100%;
    min-height: 25rem;
}

.postCard {
    width: 100%;
    min-height: 3rem;
}

.postCard p {
    color: black;
}

/* Tablet styles (e.g., iPad landscape) */
@media (max-width: 1024px) {

}

/* Smartphone styles (e.g., iPhone portrait) */
@media (max-width: 768px) {

}
