@font-face {
    font-family: 'OpenSans';
    src: url('/Open_Sans/static/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

.settingsOuterContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pfpSettingsContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.pfpChange {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.pfpChange img {
    width: 7rem;
    height: 7rem;
    border-radius: 50%; 
    object-fit: cover;
}

.pfpChange button {
    background-color: #F2E34C;
    border-radius: 5rem;
    padding: 10px 20px; 
    margin-left: 10px; 
    font-size: 14px;
    width: auto; 
    height: auto; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}


.bioSettingsContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.bioSettingsContainer textarea {
    width: 150%;
    height: 5rem;
    border: 0px;
    border-radius: 1rem;
    padding: 1rem 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    resize: none;
    font-family: 'OpenSans';
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.bioSettingsContainer button {
    background-color: #F2E34C;
    border-radius: 2rem;
    padding: auto;
    margin-top: .75rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.updateUsernameContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.updateUsernameContainer button {
    background-color: #F2E34C;
    border-radius: 2rem;
    padding: auto;
    margin-top: .75rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.pfpInputBox {
    display: flex;
    flex-direction: row;
    background-color: #f7f7f7;
    width: 101%;
    padding: 3%;
    border-radius: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.pfpInputBox button {
    background-color: #F2E34C;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.updateUsernameContainer input {
    border: 0px;
    border-radius: 1rem;
    padding: 1rem 1rem;
    display: flex;
    resize: none;
    font-family: 'OpenSans';
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

/* Tablet styles (e.g., iPad landscape) */
@media (max-width: 1024px) {

}

/* Smartphone styles (e.g., iPhone portrait) */
@media (max-width: 768px) {

}